/* fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap');

/* variaveis*/
:root {
    --primaria: #333;
    --secundaria: #fff;
    --destaque: black;
    --pixel: 'Press Start 2P', sans-serif;
}

/* global*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*header*/
header {
    background: var(--primaria);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    padding: 15px;
    height: 60px;
    outline: 15px solid var(--destaque);
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: var(--secundaria);

    display: inline-flex;
    align-items: center;

    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

header nav .aa {
    transition: font-size 0.5s ease-in-out;
    font-size: 16pt;
}

header nav .aa:hover {
    font-size: 20pt;
}

header .aa:before {
    content: " ";
    background-color: var(--secundaria);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

header nav a {
    color: var(--secundaria);
    text-decoration: none;
    font-weight: bold;
    padding: 0 5px;
}

/*body*/

.banner{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/1234335-abstrato-colorido-geometrico-banner-gratis-vetor.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*proporção da imagem*/
    height: 50vh; 
    border-bottom: 2vh solid #000; 
    margin-top: 1.6vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; /* largura em relação ao pai */
    max-width: 600px; /* largura máxima */
    /*padding-left: 5vw; */
    background: transparent;
    
    margin-left: 5vw;
}

.botoesnav {
    display: flex;
    justify-content: center;
    gap: 2vw; /*espacamento entre os botões */
}

.bloco {
    margin: 5vh 0 2vh 0;
    padding: 5%;
    background-color: var(--primaria);
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 1vw 1vw 0 var(--destaque);
}

#PV {
    text-align: center;
    font-family: var(--pixel);
    color: var(--secundaria);
    font-size: 28pt;
    text-shadow: 3px 5px 2px var(--destaque);
    width: 100%;
    padding-top: 15px;
}

.bloco #p-pv {
    font-family: var(--pixel);
    color: var(--secundaria);
    font-size: 17pt;
    text-shadow: 3px 5px 2px var(--destaque);
    width: 100%;
    padding-top: 30px;
    line-height: 1.5;
    text-align: center;
}

#frontend {
    text-shadow: 
    1px 1px 0px red,
    2px 2px 0px orange,
    3px 3px 0px yellow,
    4px 4px 0px green,
    5px 5px 0px blue,
    6px 6px 0px indigo,
    7px 7px 0px violet;
}

/* botoes*/
.botoes {
    width: 30vw;
    max-width: 200px; /* largura máxima dos botões */
    height: auto; /* altura conforme o conteúdo */
    padding: 1rem; 
    background-color: var(--primaria);
    box-sizing: border-box;
    box-shadow: 1vw 1vw 0 var(--destaque);
    margin: 1vh 1vw; 
    transition: 0.5s ease-in-out;
    text-align: center; 
}

a .botoes {
    font-family: var(--pixel);
    color: var(--secundaria);
    font-size: 1rem;
}

.botoes:hover {
    width: 35vw; 
    max-width: 220px; 
    padding: 1.2rem; 
    font-size: 1.2rem; 
}

/*media*/
@media (max-width: 768px) { /*tablet etc*/
    .botoes {
        width: 40vw;
        max-width: 180px;
    }

    .botoesnav {
        gap: 3vw;
    }
}

@media (max-width: 480px) {  /*celulares*/
    .botoes {
        width: 55vw;
        max-width: 180px;
    }

    .botoesnav {
        gap: 4vw;
    }
}