body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
}

header{
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /*definição do local dos itens do header*/
    padding: 15px;
    height: 60px;

    outline: 15px solid black;
    /*flex-direction: row-reverse;*/ /*Caso eu queria inverter facilmente a disposição do header*/
}

header nav{
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace
}

header nav .aa { /*efeito ease-in-out*/
    transition: 0.5s;
    font-size: 16pt;
}

header nav .aa:hover { /*efeito ease-in-out*/
    transition: 0.5;
    font-size: 20pt;
}

header .aa:before{ /*elemento criado (circulozinho)*/
    content: " ";
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px; 
    margin-right: 10px;
    border-radius: 50%;
}

header nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;      /*left e right para não aumentar baixo e cima*/
    padding-right: 5px;
}

/*BODY*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap');

div{
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: 100px;
    padding: 40px;
    background-color: #333;
    width: 650px;

    max-width: 650px; /* Limite máximo de largura */
    height: auto;
    box-sizing: border-box;
}

h1{
    text-align: center;

    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 28pt;
    text-shadow: 3px 5px 2px rgb(0, 0, 0);
    width: 100%;
    padding-top: 15px;
}

div p{
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 17pt;
    text-shadow: 3px 5px 2px rgb(0, 0, 0);
    width: 100%;
    padding-top: 30px;
    line-height: 1.5; /*espaçamento entre linhas*/
}

.frontend{
    text-shadow: 
    1px 1px 0px red,
    2px 2px 0px orange,
    3px 3px 0px yellow,
    4px 4px 0px green,
    5px 5px 0px blue,
    6px 6px 0px indigo,
    7px 7px 0px violet;
}